<p id="notice"><%= notice %></p>

<div class="bg-info">
<h2>
  <%= @joblist.company %>
</h2>
</div>

<h3>会社概要</h3>
<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">設立年</div>
     </div>
     <div class="panel-body"><%= @joblist.data1 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">正社員数</div>
     </div>
     <div class="panel-body"><%= @joblist.data2 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">パート、契約社員数</div>
     </div>
     <div class="panel-body"><%= @joblist.data3 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">男性社員数</div>
     </div>
     <div class="panel-body"><%= @joblist.data4 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">女性社員数</div>
     </div>
     <div class="panel-body"><%= @joblist.data5 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">資本金</div>
     </div>
     <div class="panel-body"><%= @joblist.data6 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">業種</div>
     </div>
     <div class="panel-body"><%= @joblist.data7 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">代表者</div>
     </div>
     <div class="panel-body"><%= @joblist.data8 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">担当窓口</div>
     </div>
     <div class="panel-body"><%= @joblist.data9 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">事業内容</div>
     </div>
     <div class="panel-body"><%= @joblist.data10 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">離職率</div>
     </div>
     <div class="panel-body"><%= @joblist.data11 %></div>
    </div>


<h3>社員インタビュー</h3>
<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">インタビュー者</div>
     </div>
     <div class="panel-body"><%= @joblist.data12 %><%= @joblist.data13 %><%= @joblist.data14 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">入社のきっかけ</div>
     </div>
     <div class="panel-body"><%= @joblist.data15 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">日常業務の内容</div>
     </div>
     <div class="panel-body"><%= @joblist.data16 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">月平均残業時間</div>
     </div>
     <div class="panel-body"><%= @joblist.data17 %></div>
    </div>


<h3>代表者からのメッセージ</h3>
<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">当社の強み</div>
     </div>
     <div class="panel-body"><%= @joblist.data18 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">これからの会社目標</div>
     </div>
     <div class="panel-body"><%= @joblist.data19 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">理想の社員</div>
     </div>
     <div class="panel-body"><%= @joblist.data20 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">教育制度及び福利厚生</div>
     </div>
     <div class="panel-body"><%= @joblist.data21 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">入社してくるみなさんに期待すること</div>
     </div>
     <div class="panel-body"><%= @joblist.data22 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">社内イベント</div>
     </div>
     <div class="panel-body"><%= @joblist.data23 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">必須質問</div>
     </div>
     <div class="panel-body"><%= @joblist.data24 %></div>
    </div>

<div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">レポート後記</div>
     </div>
     <div class="panel-body"><%= @joblist.data25 %></div>
    </div>

 <div class="panel panel-info">
     <div class="panel-heading">
        <div class="panel-title">こんな感じの人事でした</div>
     </div>
     <div class="panel-body"><%= @joblist.data26 %></div>
    </div>

<!--
<%= link_to 'Edit', edit_joblist_path(@joblist) %> |
<%= link_to 'Back', joblists_path %>
-->